    /*
    1. Posicionamiento
    2. Modelo de caja (box Model)
    3. Tipografia
    4. Visuales
    5. Otros -> reglas CCS y mas
     */

:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --dark-gray: #808080;
    --off-white: #faf8f7;
    --just-white: #fff;
    --background:#E5E5E5;
    --linear-gradient:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    /* Fuentes */
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    font-size: 62.5%;
    font-family: var(--font-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--linear-gradient);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-weight: bold;
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header--title-container p {
    margin-top: 2.4rem;
    font-weight: var(--size-500);
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--off-white);
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16 );
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    padding-top: 40px;
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding: 0 15px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-tables-container {
    display: flex;
    height: 360px;
    overflow-x: scroll;    
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container::-webkit-scrollbar {
    width: 8px;     /* Tama単o del scroll en vertical */
    height: 8px;    /* Tama単o del scroll en horizontal */
}

.main-tables-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--soft-orange);
}

.main-tables-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--bitcoin-orange);
    box-shadow: 0 0 2px 1px rgba(89, 73, 30, 0.16 );
}

.main-tables-container::-webkit-scrollbar-thumb:active {
    background-color: var(--bitcoin-orange);
}

.main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;    
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 60px;
}

.main-currency-table,
.main-comission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
}


.currency-table--container,
.comission-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;      
    height: 360px;
    margin: 0 auto;
    font-family: var(--font-inter);
    letter-spacing: -0.02em;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-family: var(--font-sans);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-comission-table .comission-table--title {
    margin-bottom: 15px;
    font-family: var(--font-sans);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.currency-table--container table,
.comission-table--container table {
    display: inline;
    width: 100%;
    height: 100%;
    text-align: left;
    text-indent: 12px;
    top: 10px;
}

.currency-table--container td,
.comission-table--container td {
    width: 50%;
    height: 36px;
    font-size: 1.6rem;
    font-weight: var(--size-500);
    line-height: 1.9rem;
    color: #b5b0ac;
    background-color: var(--just-white);
}



.currency-table--container .table__top-left,
.comission-table--container .table__top-left {
    border-radius:  8px 0 0 0;
}
.currency-table--container .table__top-right,
.comission-table--container .table__top-right {
    border-radius:  0 8px 0 0;
}
.currency-table--container .table__bottom-left,
.comission-table--container .table__bottom-left {
    border-radius:  0 0 0 8px;
}
.currency-table--container .table__bottom-right,
.comission-table--container .table__bottom-right {
    border-radius:  0 0 8px 0;
}

.currency-table--container .table__right,
.comission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: var(--size-400);
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-tables-container .main-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: var(--size-300);
    line-height: 1.5rem;
}

.currency-table--container .currency--date {
    background-color: var(--soft-orange);
    color: var(--warm-black);
}

.comission-table--container .comission--date {
    background-color: var(--soft-blue);
    color: var(--warm-black);
}


.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
    top: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-gray);
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, s0, 0.16 );
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('./assets/icons/clock.svg');
}
.eye {
    background-image: url('./assets/icons/eye.svg');
}
.dolar {
    background-image: url('./assets/icons/dollar-sign.svg');
}
.circle {
    background-image: url('./assets/icons/check-circle.svg');
}

.product-detail--card .product--card-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-detail--card .product--card-body {
    margin-bottom: 22px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-gray);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    min-height: 390px;
    background: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 65px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 24px;
    text-align: center;
    padding-left: 15px;
    padding-right: 17px;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: o auto;
    margin-bottom: 50px;
}

.plans--title h2 {
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans--title p {
    padding-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;    
}

.plans-container--slider::-webkit-scrollbar {
    width: 8px;     /* Tama単o del scroll en vertical */
    height: 8px;    /* Tama単o del scroll en horizontal */
}

.plans-container--slider::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--soft-orange);
}

.plans-container--sliderr::-webkit-scrollbar-thumb:hover {
    background-color: var(--bitcoin-orange);
    box-shadow: 0 0 2px 1px rgba(89, 73, 30, 0.16 );
}

.plans-container--slider::-webkit-scrollbar-thumb:active {
    background-color: var(--bitcoin-orange);
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 247px;
    margin: 50px 30px 0;
    padding: 0 15px;
    padding-top: 30px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
}

.plans-container--card .plan-name {
    position: absolute;
    width: 100px;
    height: 30px;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px;
    font-family: var(--font-inter);
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.452rem;    
    border-radius: 8px;
}

.plans-container--card .recomendado {
    background-color: var(--bitcoin-orange);
}

.plans-container--card .standard {
    background-color: var(--secondary-blue)
}

.plans-container--card .basic {
    background-color: var(--dark-gray);
}

.plan-info-container .plan-card--title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-info-container .plan-card--price {
    padding-bottom: 16px;
    font-family: var(--font-inter);
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    letter-spacing: -0.08rem;
    color: black;
}

.plan-info-container .plan-card--price sup {
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #363636;
}

.plan-info-container .plan-card--saving {
    font-family: var(--font-inter);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
    padding-bottom: 15px;
}

.plan-info-container .plan-card--ca {
    width: 150px;
    height: 48px;    
    background: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4ren;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    cursor: pointer;
}

.plan-info-container .plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;        
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);    
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;    
}

footer .left li {
    margin: 10px 0;
}

footer .left li a {
    text-decoration: none;
    color: var(--just-white);
}

footer .right img {
    width: 128px;
    height: 100px;
}